body {
    background-color: #2b2b2b;
    color: white;
}

.navbar,
.card-header {
    background-color: #343a40;
}

.order-summary {
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;
}